.list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 100%;
  max-height: 80vh;
  overflow-y: auto;
  list-style: none;
  padding: 10px;
}

.item {
  display: flex;
  padding: 0.8rem;
  border-radius: 10px;
  border: 2px solid gray;
  justify-content: space-between;
  align-items: center;
  max-width: 300px;
}
